<div class="container">

  <div class="row">

    <div class="col">
      <div class="alert alert-success" role="alert" style="font-size: 3em;">
        {{winner.name}} hat gewonnen!
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-auto">

      <div class="btn-group" role="group" aria-label="Basic example">

        <!--Back Button-->
        <button class="btn btn-primary" (click)="home()"> Zurück </button>

        <!--Start Button-->
        <button class="btn btn-success" (click)="newGame()"> Erneut Spielen </button>

      </div>

    </div>
  </div>

</div>

