<div class="container" style="height: 100%;">

    <!--Spacing-->
    <div style="height: 20%;"></div>

    <div class="row justify-content-md-center">
      <div class="col"></div>
      <div class="col-md">
        <button class="btn btn-success btn-huge" data-toggle="modal" data-target="#exampleModalLong">Neues Spiel</button>
      </div>
      <div class="col"></div>
      <div class="col-md">
        <button class="btn btn-primary btn-huge" disabled>Bestenliste</button >
      </div>
      <div class="col"></div>
    </div>

</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Wähle einen Spielmodus!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <select class="custom-select" [(ngModel)]="gameMode">
          <option value="301" selected>301</option>
          <option value="501">501</option>
          <option value="1001">1001</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setGameMode()">Los Gehts!</button>
      </div>
    </div>
  </div>
</div>
