<div class="row h-100">

  <div class="col-2 no-mp my-auto">
    <button class="btn btn-primary" style="float: right;"> < </button>
  </div>

  <div class="col my-auto">

    <!-- <app-player-table [isActive]="active"></app-player-table> -->

    <section *ngFor="let pt of playerTables; let i = index;">
      <p>index: {{pt.index}}; index: {{pt.player}}</p>
    </section>

  </div>

  <div class="col-2 no-mp my-auto">
    <button class="btn btn-primary" style="float: left;"> > </button>
  </div>

</div>
