<div class="container">
  <br/>
  <div class="row">
    <div class="col-auto p-0">
      <div class="btn-group" role="group" aria-label="Basic example">

        <!--Add Button-->
        <button class="btn btn-success" (click)="addPlayer()"><i class="fas fa-plus"></i></button>

        <!--Back Button-->
        <button class="btn btn-secondary" (click)="navBack()">Zurück</button>

        <!--Start Button-->
        <button class="btn btn-primary" (click)="startPlaying()">Start</button>

      </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col p-0">
      <h3> Spiel: {{gameMode}} </h3>
    </div>

  </div>

  <form #playerForm="ngForm" class="" (ngSubmit)="startPlaying()">
    <section *ngFor="let player of players; let i = index;">
      <br/>
      <div class="row">
        <div class="input-group flex-nowrap">

          <!--Spieler Nummer-->
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">{{i + 1}}</span>
          </div>

          <!--Textfeld-->
          <input type="text" class="form-control" name="player_{{i}}" placeholder="Name" [(ngModel)]="player.name">

        </div>
      </div>

    </section>
  </form>
</div>





